.main_h {
    position: fixed;
    left: 0px;
    top: 0px;
    max-height: 50px;
    z-index: 999;
    width: 100%;
    padding-top: 10px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }
  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 10px;
    }
  }

  .open-nav {
    max-height: 400px !important;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }

  .sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
  }

  .logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none;
    }
  }

  nav {
    float: right;
    width: 90%;
  }
  @media only screen and (max-width: 766px) {
    nav {
      width: 90%;
    }
  }
  nav ul {
    margin-top: 6px;
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
  @media only screen and (max-width: 766px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
  nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
  }
  @media only screen and (max-width: 766px) {
    nav ul li {
      width: 100%;
      padding: 10px 0;
      margin: 0;
    }
  }
  nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
    transition-duration: 0.3s;
  }
  nav ul a:hover {
    font-size: 16px;
  }

  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block;
    }
  }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
  }

.row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
  }
  .column {
      flex: 25%;
      max-width: 25%;
      padding: 0px 10px;
      display: flex;
      flex-wrap: wrap;
  }
  .column img {
      vertical-align: top;
      width: 100%;
  }
  .fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
  .fade-in.appear {
    opacity: 1;
  }
  .from-left {
    grid-column: 2/3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  .from-left, .from-right {
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
    opacity: 0;
  }
  .from-left.appear, .from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cardimg {
    min-height: 80px;
    max-height: 80px;
    transition-duration: 0.3s;
  }
  .cardimg:hover {
    min-height: 90px;
    max-height: 90px;
    box-shadow: -4px -4px #e8f380 ;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 15px 0px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 0px 15px;
    min-height: 276px;
    min-width: 200px;
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 15px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card7 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 15px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card8 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .card9 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #8f8f8f;
    border-radius: 0px 0px 0px 0px;
    min-height: 276px;
    min-width: 200px;
  }
  .cardfont {
    font-size: 10px;
    margin: 5px;
    color: white;
    line-height: 1.75;
  }
  button {
    margin: 2px;
  }
  .buttonHTML {
    background-color: #F16529;
    border: solid 2px;
    border-color:  #E44D26;
    border-radius: 3px;
    color: white;
    transition-duration: 0.3s;
  }
  .buttonHTML:hover {
    border-color:  #F16529;
    background-color: #E44D26;
  }

  .buttonCSS {
    background-color: #3C99DC;
    border: solid 3px;
    border-color:  #2565AE;
    border-radius: 2px;
    color: #D5F3FE;
    transition-duration: 0.3s;
  }
  .buttonCSS:hover {
    border-color:  #3C99DC;
    background-color: #2565AE;
  }
  .buttonJS {
    background-color: #F0DB4F;
    border: solid 3px;
    border-color:  #323330;
    border-radius: 2px;
    color: #323330;
    transition-duration: 0.3s;
  }
  .buttonJS:hover {
    border-color:  #F0DB4F;
    background-color: #323330;
    color: white;
  }
  .buttonBS {
    background-color: #553C7B;
    border: solid 3px;
    border-color:  #36205b;
    border-radius: 2px;
    color: white;
    transition-duration: 0.3s;
  }
  .buttonBS:hover {
    border-color:   #553C7B;
    background-color: #36205b;
  }
  .buttonReact {
    background-color: #60DAFB;
    border: solid 3px;
    border-color:  #1F232A;
    border-radius: 2px;
    color: white;
    transition-duration: 0.3s;
  }
  .buttonReact:hover {
    border-color:   white;
    background-color: #1F232A;
    color: #60DAFB;
  }
  h5 {
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    margin-bottom: 5px;
    color: white;
  }
  .row.content {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100% !important;
      max-width: 100% !important;
      max-height: 100% !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
      width: 100% !important;
      flex-direction: column !important;
    }
    .card, .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
      border-radius: 25px !important;
      min-height: 335px !important;
      max-height: 335px !important;
    }
    #aboutText.column {
      min-width: 25% !important;
    }
    .cardimg {
      min-height: 200px !important;
      max-height: 200px !important;
    }
    .skillsColumn {
      flex-direction: column !important;
    }
    form {
      flex-direction: column !important;
      left: 0 !important;
    }
    .label-container{
      z-index: 5 !important;
    }
    .float, .my-float{
      z-index: 5;
    }
  }
@media screen and (max-width: 800px){
    #aboutText.column {
        min-width: 50%;
    }
    .skillsColumn {
      flex: 50%;
    }
    form {
      flex: 50%;
      left:0;
    }
    .column {
      max-width: 100%;
      margin-bottom: 0px;
      width: 100%;
      flex-direction: column;
      flex: 50%;
      min-height: 275px;
      padding: 10px;
      padding-bottom: 1px;
      padding-top: 1px;
    }
    .card, .card1, .card4, .card5, .card9 {
      border-radius: 25px 0px 0px 25px;
      min-height: 275px;
      max-height: 275px;
    }
    .card2, .card3, .card6, .card7, .card8 {
      border-radius: 0px 25px 25px 0px;
      min-height: 275px;
      max-height: 275px;
    }
    .cardimg {
      min-height: 150px;
    }
    .cardimg:hover {
      min-height: 160px;
    }
    .label-container{
      z-index: 5;
    }
    .float, .my-float{
      z-index: 5;
    }
}
  * {
    box-sizing: border-box;
  }

  body {
    color: #8f8f8f;
    background: #181a1c;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
/*Sections*/
  .sec01 {
      background: url();
  }
#aboutText {
    min-width: 75%;
}

.skills {
    text-align: center;
    line-height: 1;
    flex: 25%;
  }
.skillsColumn{
    flex: 25%;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    text-shadow: 3px 3px black;
}
.skillsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.fab {
   font-size: 48px;

}
.fas {
    font-size: 48px;
}
  a {
    text-decoration: none;
  }

  h1 {
    width: 100%;
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #e8f380;
  }
  h4 {
      width: 100%;
      line-height: 1.5;
      font-family: "Montserrat", sans-serif;
  }
  h3{
    width: 100%;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
  }
  h2 {
    width: 100%;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
  }
.flex-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.flex-container2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.flex-container3{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.imageswitch {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  height: auto;
  padding-right: 30px;
  border-radius: 25px 25px;
}

.me {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  height: auto;
  padding-right: 30px;
  border-radius: 25px 25px;
    /* z-index: 99; */
}
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
  visibility: inherit;
  z-index: 5;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
  font-family: "Montserrat", sans-serif;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#e8f380;
	color:#8f8f8f;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  transition: 0.5s ease;
}

.my-float{
	margin-top:11px;
  font-size: 34px;
}
.float:hover{
  background: #8f8f8f;
  color: #e8f380;
}

a.float + div.label-container {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

a.float:hover + div.label-container{
  border-color:#553C7B;
  /* background: rgba(143, 143, 143, 0.5); */
  opacity: 1;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}

.content {
  padding: 50px 2% 250px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  border: 1px solid;
  display:flex;
  justify-content: center;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Montserrat", sans-serif;
  padding: 12px;
  background:#090a03;
}
  input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid #e8f380;
  }
  *:focus {
    outline: 0;
  }
  input[type=submit] {
    transition: all ease-in-out .3s;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    background: #000;
    color: #e8f380;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    border: 0;
  }
  input[type=submit]:hover {
    background: #e8f380;
    color: #000;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }

  #contact {
    width: 100%;
    text-align: center;
    transition-duration: 0.3s;
    margin-bottom: 100px;
  }
  .sec04 {
    margin-bottom: 0;
  }

  #contact h3 {
    margin-top: 0;
  }

  form {
    width: 100%;
    min-width: 50%;
    position: relative;
    justify-content: center;
  }
  #name, #subject, #body {
    color:#8f8f8f;
  }

  .hero {
    position: relative;
    background: url('../img/personalhero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  .hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
  }

  .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #e8f380;
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -26px;
  }
  .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }

  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
