.main_h {
    position: fixed;
    top: 0px;
    max-height: 50px;
    z-index: 999;
    width: 100%;
    padding-top: 10px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }
  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 10px;
    }
  }
  
  .open-nav {
    max-height: 400px !important;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
  }
  
  .logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none;
    }
  }
  
  nav {
    float: right;
    width: 90%;
  }
  @media only screen and (max-width: 766px) {
    nav {
      width: 90%;
    }
  }
  nav ul {
    margin-top: 6px;
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
  @media only screen and (max-width: 766px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
  nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
  }
  @media only screen and (max-width: 766px) {
    nav ul li {
      width: 100%;
      padding: 10px 0;
      margin: 0;
    }
  }
  nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block;
    }
  }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
  }

.row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
  }
  .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
  }
  .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
  }
  .row.content {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
@media screen and (max-width: 600px){
    #aboutText.column {
        min-width: 25%;
    }
}
@media screen and (max-width: 800px){
    #aboutText.column {
        min-width: 50%;
    }
}
  * {
    box-sizing: border-box;
  }
  
  body {
    color: #8f8f8f;
    background: #181a1c;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
/*Sections*/
  .sec01 {
      background: url();
  }
#aboutText {
    min-width: 75%;
}

.skills {
      text-align: center;
      line-height: 1;
      flex: 25%;
  }
.skillsColumn{
    flex: 25%;
    padding: 20px;
    text-align: center;
    flex-direction: row;
}
.skillsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.fab {
   font-size: 48px;
   
}
.fas {
    font-size: 48px;
}
  a {
    text-decoration: none;
  }
  
  h1 {
    width: 100%;
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #e8f380;
  }
  h4 {
      width: 100%;
      line-height: 1.5;
      font-family: "Montserrat", sans-serif;
  }
  h3{
    width: 100%;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
  }
  h2 {
    width: 100%;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
  }
.flex-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media screen and (max-width: 766px) {
    .column {
      width: 100%;
      flex-direction: column;
    }
  }

@media screen and (max-width: 992px) {
    .skillsColumn {
        flex: 50%;
    }
}
@media screen and (max-width: 766px) {
    .skillsColumn{
        flex-direction: column;
    }
}
.me {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    height: auto;
    padding-right: 30px;
    
}

  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
    font-family: "Montserrat", sans-serif;
  }
  
  .content {
    padding: 50px 2% 250px;
  }
  
  input[type=text], input[type=email], textarea {
    width: 100%;
    border: 1px solid;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    resize: vertical;
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    background: #090a03;
  }
  input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid #e8f380;
  }
  *:focus {
    outline: 0;
  }
  input[type=submit] {
    transition: all ease-in-out .3s;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    background: #000;
    color: #8f8f8f;
    font-family: "Montserrat", sans-serif;
    border: 0;
  }
  input[type=submit]:hover {
    background: #8f8f8f;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }
  .center {
    text-align: center;
    padding-top: 5px;
  }
  #contact {
    width: 100%;
    text-align: center;
    
  }
  .sec04 {
    margin-bottom: 0;
  }

  #contact h3 {
    margin-top: 0;
  }

  form {
    min-width: 50%;
    left: 25%;
    position: relative;
    justify-content: center;
  }
  @media screen and (max-width: 992px) {
    form {
        flex: 50%;
        left:0;
    }
}
@media screen and (max-width: 766px) {
    form{
        flex-direction: column;
        left: 0;
    }
}
 
  .hero {
    position: relative;
    background: url('https://upload.wikimedia.org/wikipedia/commons/f/f6/Creative_flatlay_on_dark_wood_%28Unsplash%29.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  .hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
  }
  
  .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #e8f380;
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -26px;
  }
  .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
  
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}